<nav>
  <div class="container">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">House Affordability</a>
  </div>
</div>
</nav>
<div class="row">
  <div class="container">
 <h3>How Much Can You Afford?</h3>
 <form action="/users" id="event" method="post" class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <input name="annualincome" type="number" min="0" class="validate" required>
      <label for="Annual Income">Annual Income</label>
    </div>
    <div class="input-field col s6">
      <input name="monthlypayment" type="number" min="0" class="validate">
      <label for="Monthly Payment">Monthly Payment</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input name="down" type="number" min="0" class="validate" required>
      <label for="down">Down</label>
    </div>
    <div class="input-field col s6">
      <input name="monthlydebts" type="number" min="0" class="validate" required>
      <label for="Monthly Debts">Monthly Debts</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input name="rate" type="number" min="0" step=".25" class="validate">
      <label for="rate">Interest Rate</label>
    </div>
    <div class="input-field col s6">
      <select name="schedule" required>
        <option value="yearly" selected>Choose your option</option>
        <option value="yearly">Yearly</option>
        <option value="monthly">Monthly</option>
        <option value="both">Both</option>
        <option value="none">None</option>
      </select>
      <label>Schedule</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input name="term" type="text" class="validate">
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <label for="term">Term (months)</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      </button>
    </div>
  </div>
</form>
</div>
</div>
<div class="row" id="test">
</div> 
